@import "tailwindcss";

/* light theme variables */
:root {
  --color-background: #F5F5F5;
  --color-card: #ffffff;
  --color-text: #000000;
  --color-secondaryText: #363636;
  --color-secTextLight: #6b6b6b;
  --color-primary: #ff3879;
  --color-secondary: #ff7934;
  --color-border: #DDDDDD;
}

/* dark theme variables */
.dark {
  --color-background: #121212;
  --color-card: #1E1E1E;
  --color-text: #FFFFFF;
  --color-secondaryText: #8A8A8A;
  --color-secTextLight: #f0eee4;
  --color-primary: #1e90ff;
  --color-secondary: #ff7934;
  --color-border: #444;
}